@font-face {
  font-family: 'Golos Text';
  src: url('assets/font/Golos/GolosText-Bold.eot');
  src: url('assets/font/Golos/GolosText-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/font/Golos/GolosText-Bold.woff2') format('woff2'),
  url('assets/font/Golos/GolosText-Bold.woff') format('woff'),
  url('assets/font/Golos/GolosText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('assets/font/Golos/GolosText-Medium.eot');
  src: url('assets/font/Golos/GolosText-Medium.eot?#iefix') format('embedded-opentype'),
  url('assets/font/Golos/GolosText-Medium.woff2') format('woff2'),
  url('assets/font/Golos/GolosText-Medium.woff') format('woff'),
  url('assets/font/Golos/GolosText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('assets/font/Golos/GolosText-DemiBold.eot');
  src: url('assets/font/Golos/GolosText-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('assets/font/Golos/GolosText-DemiBold.woff2') format('woff2'),
  url('assets/font/Golos/GolosText-DemiBold.woff') format('woff'),
  url('assets/font/Golos/GolosText-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text VF';
  src: url('assets/font/Golos/GolosTextVF-Regular.eot');
  src: url('assets/font/Golos/GolosTextVF-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/font/Golos/GolosTextVF-Regular.woff2') format('woff2'),
  url('assets/font/Golos/GolosTextVF-Regular.woff') format('woff'),
  url('assets/font/Golos/GolosTextVF-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('assets/font/Golos/GolosText-Regular.eot');
  src: url('assets/font/Golos/GolosText-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/font/Golos/GolosText-Regular.woff2') format('woff2'),
  url('assets/font/Golos/GolosText-Regular.woff') format('woff'),
  url('assets/font/Golos/GolosText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('assets/font/Golos/GolosText-Black.eot');
  src: url('assets/font/Golos/GolosText-Black.eot?#iefix') format('embedded-opentype'),
  url('assets/font/Golos/GolosText-Black.woff2') format('woff2'),
  url('assets/font/Golos/GolosText-Black.woff') format('woff'),
  url('assets/font/Golos/GolosText-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

