.body {
  position: relative;

  @-moz-document url-prefix() {
    overflow-x: visible;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}


.body {
  
  &:not(.is-loaded) {
    * {
      transition: 0s !important;
    }
  }
  &.is-loaded {
    animation: bodyShow 1s ease forwards;
  }
}