.main {}

.main__row {
  display: flex;
  gap: $wGutterBase;

  @media (max-width: $resM) {
    flex-direction: column;
    gap: 20px;
  }
}

.main__col {
  &--1 {
    flex: 1 1 auto;

    @media (max-width: $resM) {
      flex: none;
      width: 100%;
    }
  }
  &--2 {
    flex: 0 0 $wColBase * 3 + $wGutterBase * 2;

    @media (max-width: $resM) {
      flex: none;
    }
  }
}

.main__filter {
  margin-top: 74px;

  @media (max-width: $resM) {
    margin-top: 0;
  }
}

.main__tour-info {
  margin-top: -188px;

  @media (max-width: $resM) {
    margin-top: 0;
  }
}